<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThiTracNghiem.ConnectionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ThiTracNghiem.Properties.Settings.TRACNGHIEMConnectionString"
            connectionString="Data Source=DESKTOP-FJ2LJ0Q;Initial Catalog=TRACNGHIEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThiTracNghiem.Properties.Settings.TRACNGHIEMConnectionString1"
            connectionString="Data Source=DESKTOP-FJ2LJ0Q\SERVER1;Initial Catalog=TRACNGHIEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThiTracNghiem.Properties.Settings.TRACNGHIEMConnectionString3"
            connectionString="Data Source=DESKTOP-FJ2LJ0Q\SERVER1;Initial Catalog=TRACNGHIEM;User ID=th101"
            providerName="System.Data.SqlClient" />
        <add name="ThiTracNghiem.Properties.Settings.TRACNGHIEMConnectionString2"
            connectionString="Data Source=DESKTOP-FJ2LJ0Q\SERVER1;Initial Catalog=TRACNGHIEM;User ID=thien"
            providerName="System.Data.SqlClient" />
        <add name="ThiTracNghiem.Properties.Settings.TRACNGHIEMConnectionString5"
            connectionString="Data Source=DESKTOP-CAR7DK5\SRV_1;Initial Catalog=TRACNGHIEM;Persist Security Info=True;User ID=TH101"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>