<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThiTracNghiem.ConnectionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ThiTracNghiem.Properties.Settings.TRACNGHIEMConnectionString"
            connectionString="Data Source=DESKTOP-CAR7DK5;Initial Catalog=TRACNGHIEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThiTracNghiem.Properties.Settings.TRACNGHIEMConnectionString1"
            connectionString="Data Source=DESKTOP-CAR7DK5\SRV_1;Initial Catalog=TRACNGHIEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThiTracNghiem.Properties.Settings.TRACNGHIEMConnectionStringSV1"
            connectionString="Data Source=DESKTOP-CAR7DK5\SRV_1;Initial Catalog=TRACNGHIEM;Persist Security Info=True;User ID=CN001;Password=tqh"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ThiTracNghiem.ConnectionSettings>
            <setting name="DefaultCatalog" serializeAs="String">
                <value>TRACNGHIEM</value>
            </setting>
            <setting name="DefaultDatasource" serializeAs="String">
                <value>DESKTOP-CAR7DK5</value>
            </setting>
            <setting name="pwd" serializeAs="String">
                <value>tqh</value>
            </setting>
            <setting name="support" serializeAs="String">
                <value>SUPPORT_CONNECT</value>
            </setting>
            <setting name="sppwd" serializeAs="String">
                <value>tqh</value>
            </setting>
            <setting name="sinhvien" serializeAs="String">
                <value>CN001</value>
            </setting>
            <setting name="svpwd" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="login" serializeAs="String">
                <value>sa</value>
            </setting>
        </ThiTracNghiem.ConnectionSettings>
    </userSettings>
</configuration>